<ion-view view-title="Compte">
    <ion-content scroll="false" class="settings">
        <div class="content">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input ng-model="vm.user.email" type="text" class="disabled" disabled>
            </label>
            <div class="actions">            
                <div ng-click="vm.deco()" class="btnDeco">Déconnexion</div>
                <div class="btnDelete blue white-text">SUPPRIMER LE COMPTE</div>
            </div>

        </div>
    </ion-content>
</ion-view>
