<ion-view view-title="Messages">
    <ion-content>
        <ul class="message-coll">
            <li ng-class="{ owner : message.owner === vm.user.id }" ng-repeat="message in vm.messages | orderBy: 'date' : false">
                <img ng-hide="message.owner === vm.user.id" src ="main/assets/images/photo.png" ng-src="{{ vm.getUser(message.owner).avatar }}" alt="" class="circle" width="48" height="48">
                <div class="title">{{ message.text }}</div>
                <div ng-hide="message.owner === vm.user.id" class="user">{{ vm.getUser(message.owner).username }}</div>
                <div class="time">{{ message.date | date: "hh'h'mm'm'" }}</div>
            </li>
        </ul>

        <div class="new-message" style="top: {{ vm.screenHeight - 113 - 33 }}px">
            <div class="input-field col s8">
                <input ng-model="message" id="message" type="text">
                <label for="message">Message</label>
            </div>
            <a ng-click="vm.sendMessage(message)" class="waves-effect waves-light btn">></a>
        </div>
    </ion-content>
</ion-view>
