<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="login-content">
        <div class="login-logo">
            <img src="main/assets/images/logo.png" alt="">
        </div>
        <form role="form" class="login">
            <label class="item item-input login-input">
                <input placeholder="email" required name="email" type="email" ng-model="vm.email" >
            </label>
            <label class="item item-input login-input">
                <input placeholder="mot de passe" required name="password" type="password" ng-model="vm.pass" >
            </label>
            <label ng-show="createMode" class="item item-input login-input">
                <input placeholder="valider mot de passe" required name="password" type="password" ng-model="vm.confirm" >
            </label>

            <button class="btn-login gray" ng-click="vm.passwordLogin()" ng-hide="createMode">Se connecter</button>
            <button class="btn-login purple" ng-click="createMode = true" ng-hide="createMode">S'inscrire</button>
            <div ng-hide="createMode" class="or">ou</div>
            <button ng-hide="createMode" class="btn-login facebook" ng-click="vm.facebookLogin()" ng-hide="createMode">Connexion avec facebook</button>
            <button class="btn-login purple" ng-cloak ng-show="createMode" ng-click="vm.createAccount()">Create Account</button>
            <button class="btn-login gray" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
        </form>

    </ion-content>
</ion-view>
