<ion-view view-title='<img class="logo-header" src="main/assets/images/picto-je-veux.png">Je veux'>
    <ion-content scroll="false" class="settings">
        <div class="content">
            <label class="item item-input new-wish-title">
                <textarea ng-model="vm.wish.title" placeholder="Titre" type="text"></textarea>
            </label>
            <div class="newwish-input">
                <span class="title">Avec</span>
                <span class="content">
                    <img ng-show="vm.male === false" ng-click="vm.male = true" src="main/assets/images/picto-homme-normal.png" alt="">
                    <img ng-show="vm.male === true" ng-click="vm.male = false" src="main/assets/images/picto-homme-survol.png" alt="">
                    <img ng-show="vm.female === false" ng-click="vm.female = true" src="main/assets/images/picto-femme-normal.png" alt="">
                    <img ng-show="vm.female === true" ng-click="vm.female = false" src="main/assets/images/picto-femme-survol.png" alt="">
                </span>
            </div>
            <div class="newwish-input">
                <span class="title">Participants</span>
                <span class="content">
                    <input ng-model="vm.wish.contributors_max" type="text">
                </span>
            </div>
            <div class="newwish-input">
                <span class="title">Entre</span>
                <span class="content">
                    <input type="text" id="age-minmax" value="" />
                </span>
            </div>
            <div class="datetime-input">
                <div class="title1">Le</div>
                <div class="content1">
                    <input ng-model="vm.wishDate" type="date" class="date">
                    <div class="title2">A</div>
                </div>
                <div class="content2">
                    <input type="text" id="time-hour" 
                    value="{{ vm.wishDate.getHours() + ':' + vm.wishDate.getMinutes() }}" />
                </div>
            </div>
            <div class="post-wish">
                <img src="main/assets/images/btn-go.png" ng-click="vm.postWish()">
                <div class="extra" ng-click="vm.mapOpen = true">
                    <img class="picto" src="main/assets/images/picto-lieu-normal.png" alt="">
                    Préciser un lieu
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="vm.startIn" id="startIn" type="text" class="validate">
                    <label for="startIn">Commence dans</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="vm.duration" id="duration" type="text" class="validate">
                    <label for="duration">Durée</label>
                </div>
            </div>
        </div>
        <div ng-show="vm.mapOpen" ng-class="{ open: vm.mapOpen }" ng-style="vm.mapTop" class="map-content newwish">
            <div class="map-container newwish">
                <ui-gmap-google-map options="vm.map.options" refresh="true" center='vm.map.center' zoom='vm.map.zoom'>
                    <ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </ion-content>
</ion-view>