<ion-view view-title="Profil" class="Profil">
    <ion-content scroll="false">
        <div class="header-pic">
            <img class="avatar" src="main/assets/images/photo.png" ng-src="{{ vm.profil.avatar }}" alt="">
            <img ng-show="vm.state === 'friend'" 
                 ng-click="vm.chat()" 
                 src="main/assets/images/btn-message.png" 
                 alt="" class="profil-action">
            <!--      TODO img add friend           -->
            <img ng-show="vm.state === 'pending'" 
                 ng-click="vm.unPendingFriend()" 
                 src="main/assets/images/btn-attente2.png" 
                 alt="" class="profil-action">
            <img ng-show="vm.state === 'none'" 
                 ng-click="vm.addFriend()" 
                 src="main/assets/images/btn-ajouter-amis.png" 
                 alt="" class="profil-action">
            <img ng-show="vm.state === 'owner'" 
                 ui-sref="app.infos"
                 src="main/assets/images/btn-participer2.png" 
                 alt="" class="profil-action">
            <img ng-show="vm.state === 'asking'" 
                 ng-click="vm.confirmFriend()"
                 src="main/assets/images/btn-supprimer-participation.png" 
                 alt="" class="profil-action">
        </div>
        <div class="row2 header">
            <img class="online" src="main/assets/images/en-ligne.png" alt="">
            <div class="username"><strong>{{ ::vm.profil.username }}</strong>, {{ ::vm.profil.age }} ans</div>
            <div class="location">à {{ ::vm.profil.location.city }}, {{ ::vm.profil.location.country }}</div>
        </div>
        <div class="row2 stats">
            <div class="stats wish">
                <img src="main/assets/images/picto-envies2.png" alt="">
                <strong>{{ ::vm.profil.nb_wish }}</strong> Envies organisées
            </div>
            <div class="stats rate">
                <img src="main/assets/images/picto-note.png" alt="">
                <strong>{{ ::vm.profil.rate }}</strong> points
            </div>
        </div>
        <div class="row2 about">
            <img class="icon" src="main/assets/images/picto-a-propos.png" alt="">
            <div class="title">A propos</div>
        </div>
    </ion-content>
</ion-view>
