<ion-view view-title='<img class="logo-header" src="main/assets/images/picto-reglages.png">Réglages'>
    <ion-content scroll="false" class="settings">
        <div class="content">
            <ion-list class="settings-coll">
                <ion-item ng-click="vm.infos()">
                    <span class="title">Informations</span>
                    <img class="action" src="main/assets/images/btn-option.png" alt="">
                </ion-item>
                <ion-item ng-click="vm.account()">
                    <span class="title">Compte</span>
                    <img class="action" src="main/assets/images/btn-option.png" alt="">
                </ion-item>
                <ion-item ng-click="vm.pref()">
                    <span class="title">Préférences</span>
                    <img class="action" src="main/assets/images/btn-option.png" alt="">
                </ion-item>
                <ion-item ng-click="vm.about()">
                    <span class="title">A propos</span>
                    <img class="action" src="main/assets/images/btn-option.png" alt="">
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
