<ion-view view-title="{{ vm.wish.title }}">
    <ion-content scroll="false">
        <div class="map-container wish">
            <ui-gmap-google-map options="vm.map.options" refresh="true" center='vm.map.center' zoom='vm.map.zoom'>
                <ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <ion-content scroll="true" class="wish-content" style="top: {{ ::vm.screenHeight - 162 - 300 }}px">
            <div class="header blue">
                <img ui-sref="app.profil({ id: vm.owner.id })" src="main/assets/images/photo.png" ng-src="{{ ::vm.owner.avatar }}" alt="" class="circle avatar">
                <img ng-show="vm.state === 'none'"
                     ng-click="vm.subscribeWish()" 
                     class="btn-go" src="main/assets/images/btn-participer2.png" alt="">
                <img ng-show="vm.state === 'pending'" 
                     ng-click="vm.unPendingWish()" 
                     class="btn-go" src="main/assets/images/btn-attente2.png" alt="">
                <img ng-show="vm.state === 'contributor'"
                     ng-click="vm.unSubscribeWish()"
                     class="btn-go" src="main/assets/images/btn-supprimer-participation.png" alt="">
                <img ng-show="vm.state === 'loading'"
                     class="btn-go" src="main/assets/images/btn-participer2.png" alt="">
                <div class="title">{{ ::vm.wish.title }}</div>
                <div class="date" ng-bind-html="vm.wish.date_start | cdate"></div>
                <div class="user">Postée par <strong>{{ ::vm.owner.username }}</strong></div>
                <div class="contrib">
                    <img class="icn" src="main/assets/images/picto-participants-blanc.png" alt="">
                    {{ ::vm.wish.contributors }}
                </div>
                <div class="dist">
                    <img ng-show="true" src="main/assets/images/en-ligne.png" alt="">
                    {{ ::vm.selectedWish.user_range }}150m
                </div>
                <p></p>
            </div>
            <!--            TABS -->
            <div ng-show="vm.state === 'owner'" class="tabs2 owner">
                <span ng-click="vm.tabState = 'contributors'" 
                      ng-class="{ selected: vm.tabState === 'contributors'}" class="tab">
                    <img ng-hide="vm.tabState === 'contributors'" src="main/assets/images/picto-participants-mini.png" alt="">
                    <img ng-show="vm.tabState === 'contributors'" src="main/assets/images/picto-participants-mini-survol.png" alt="">
                    <span class="title">Participants</span>
                </span>
                <span ng-click="vm.tabState = 'messages'" 
                      ng-class="{ selected: vm.tabState === 'messages'}" class="tab">
                    <img ng-hide="vm.tabState === 'messages'" src="main/assets/images/picto-messages-mini.png" alt="" >
                    <img ng-show="vm.tabState === 'messages'" src="main/assets/images/picto-messages-mini-survol.png" alt="">
                    <span class="title">Messages</span>
                </span>
                <span ng-click="vm.tabState = 'pendings'" 
                      ng-class="{ selected: vm.tabState === 'pendings'}" class="tab">
                    <img ng-hide="vm.tabState === 'pendings'" src="main/assets/images/picto-attente-mini.png" alt="">
                    <img ng-show="vm.tabState === 'pendings'" src="main/assets/images/picto-attente-mini-survol.png" alt="">
                    <span class="title">En attente</span>
                </span>
            </div>
            <div ng-show="vm.state === 'contributor'" class="tabs2 contributor">
                <span ng-click="vm.tabState = 'contributors'" 
                      ng-class="{ selected: vm.tabState === 'contributors'}" class="tab">
                    <img ng-hide="vm.tabState === 'contributors'" src="main/assets/images/picto-participants-mini.png" alt="">
                    <img ng-show="vm.tabState === 'contributors'" src="main/assets/images/picto-participants-mini-survol.png" alt="">
                    <span class="title">Participants</span>
                </span>
                <span ng-click="vm.tabState = 'messages'" 
                      ng-class="{ selected: vm.tabState === 'messages'}" class="tab">
                    <img ng-hide="vm.tabState === 'messages'" src="main/assets/images/picto-messages-mini.png" alt="" >
                    <img ng-show="vm.tabState === 'messages'" src="main/assets/images/picto-messages-mini-survol.png" alt="">
                    <span class="title">Messages</span>
                </span>
            </div>

            <div ng-show="vm.tabState === 'contributors'" class="content white">
                <div class="photo" ng-repeat="user in vm.contributorsInfos"
                     item-height="140" item-width="100">

                    <div class="crop-container circle">
                        <img width="80" src="main/assets/images/photo.png" 
                             ng-src="{{ ::user.avatar }}">
                    </div>
                    <div>{{ ::user.first_name || user.username }}</div>
                </div>
            </div>
            <div ng-show="vm.tabState === 'messages'" class="white">
                <ul class="message-coll">
                    <li ng-class="{ owner : message.owner === vm.user.id }" ng-repeat="message in vm.messages | orderBy: 'date' : false">
                        <div ng-hide="message.owner === vm.user.id" class="crop-container circle avatar">
                            <img src="main/assets/images/photo.png" 
                                 ng-src="{{ ::vm.getUser(message.owner).avatar }}">
                        </div>
                        <div class="title">{{ message.text }}</div>
                        <div ng-hide="message.owner === vm.user.id" class="user">{{ vm.getUser(message.owner).first_name }}</div>
                        <div ng-hide="message.owner === vm.user.id" class="time">{{ message.date | date: "H'h'mm" }}</div>
                        <img ng-hide="message.owner === vm.user.id" class="bulle-bleu" src="main/assets/images/bulle-bleu.png" alt="">
                        <img ng-show="message.owner === vm.user.id" class="bulle-grise" src="main/assets/images/bulle-grise.png" alt="">
                    </li>
                </ul>
            </div>
            <div ng-show="vm.tabState === 'pendings'" class="white">
                <!--               TODO: update view after action -->
                <ion-list class="chat-coll">
                    <ion-item ng-repeat="user in vm.pendingsInfos">
                        <img src="main/assets/images/photo.png" ng-src="{{ ::user.avatar }}" alt="" class="circle avatar" width="64" height="64">
                        <span class="title">{{ ::user.first_name }}</span>
                        <a class="action" ng-click="vm.acceptPending(user)"><i class="mdi-action-done"></i></a>
                    </ion-item>
                </ion-list>
            </div>


        </ion-content>

        <div class="new-message" ng-show="vm.tabState === 'messages'">
            <input placeholder="Entrez un message ici" ng-model="vm.messageTxt" id="message" type="text">
            <img ng-click="vm.sendMessage(vm.messageTxt)" class="action-message" src="main/assets/images/btn-option.png" alt="">
        </div>
    </ion-content>
</ion-view>
